@model Garage2._5.Models.Fordon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fordon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medlemar.FörNamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medlemar.FörNamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regnr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Märke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Märke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AntalHjul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AntalHjul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parkeringtid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parkeringtid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FordonstypId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FordonstypId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FordonsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
